
body{
    background-color: rgb(249,250,251);
}

.fs20{
    font-size: calc(20*0.7px);
}
.fs25{
    font-size: calc(25*0.7);
}
.fs30{
    font-size: calc(30px*0.7);
}
.fs40{
    font-size: calc(40px*0.7);
}
.fs55{
    font-size: calc(55px*0.7);
}
.fs65{
    font-size: calc(65px*0.7);
}
.font-bold{
    font-weight: bold;
}
.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
}
.kosugi-maru{
    font-family: "Kosugi Maru", sans-serif;
}
.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
}
.murecho{
    font-family: "Murecho", sans-serif;
}


.hamburger{
    width:50px;
    height:45px;
    position: fixed;
    right: 0.5%;
    top: 1vh;
    z-index: 10;
    border-radius: 20%;

    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
}
.hamburger_bar{
    display: block;
    width: 60%;
    height: 4px;
    position: absolute;
    left: 20%;
    background: #333;
    transition: 0.5s;
}
.hamburger_bar.scroll{
    background: #333;
}
.hamburger_bar:nth-child(1){
    top: 20%;
}
.hamburger_bar:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
.hamburger_bar:nth-child(3){
    top:80%;
    transform: translateY(-100%);
}
.hamburger.active{
    background: transparent;
}
.hamburger.active :nth-child(1){
    top:40%;
    transform: rotate(45deg);
}
.hamburger.active :nth-child(2){
    top:50%;
    transform: translateY(-50%);
    opacity: 0;
}
.hamburger.active :nth-child(3){
    top: 40%;
    transform: translateY(-100%);
    transform: rotate(-45deg);
}

.ham-menu-list{
    display: none;
}
.ham-menu-list.active{
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-right: 5%;
    right: 0px;
    height: 100%;
}
.ham-menu-container{
    position: relative;
    top:6%;
}
.ham-nav-list{
    padding-left: 20px;
}
.ham-menu-item{
    list-style:none;
    margin-bottom: 10px;
}
.ham-menu-item a{
    text-decoration: none;
    color: #333;
}