html{
    min-width: 30%;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(342deg, rgba(131,58,180,1) 0%, rgba(29,127,253,1) 65%, rgba(69,223,252,1) 100%);
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0.9,0.9,0.9,0.1);
    color: white;
    margin: 0 auto;
    width: 100%;
}
.ouj-logo{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}
.fes-title{
    display: flex;
    flex-direction: column;
    font-size: calc(55px*0.7);
}
.fes-title span:first-child{
    font-size: calc(40px*0.7);
}
.fes-title span:last-child{
    font-size: calc(70px*0.7);
}
.schedule{
    margin: 0;
    width: 100%;
}
.schedule-content{
    position: relative;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}
.schedule-content p{
    margin: 0;
}
.schedule-title{
    top:-5px;
    position: relative;
}
.schedule-content span{
    display: inline-block;
}
.schedule svg{
    margin: 0 auto;
    transform: scaleY(-1);
    position: relative;
}
.year{
}
.timer{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 60px 0 30px 0;
    transform: skewY(-3deg);
    background-color: #222;
}
.timer-content p:first-child{
    position: absolute;
    top: 10px;
    left: calc(100%/4);
    margin-bottom: 20px;
    transform: skewY(3deg);
}
.timer p{
    justify-content: center;
    text-align: center;
}
.timer span{
    margin: 0 5px;
    display: inline-block;
}

.cd-text{
    font-family: "Dosis", sans-serif;
}
.fes-info{
    display: flex;
    flex-direction: column;
    margin: 60px 0 80px 0;
    
}
.headline{
    max-width: 55%;
    margin: 0;
    position: relative;
    left: calc(100%/4.05);
    border: 2px solid;
    border-color: transparent transparent #fff transparent;
}
.post-date{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.post-date span{
    position: relative;
    left: -10vw;
    color: white;
}
.fes-info span{
    margin: 0 auto;
    padding: 0;
}
.contact{
    width: 100%;
    padding: 30px 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
}
.contact-headline{
    max-width: 55%;
    top:-20px;
    position: relative;;
    left: calc(100%/4.05);
}
.contact span{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.fs20{
    font-size: calc(20*0.7px);
}
.fs25{
    font-size: calc(25*0.7);
}
.fs30{
    font-size: calc(30px*0.7);
}
.fs40{
    font-size: calc(40px*0.7);
}
.fs55{
    font-size: calc(55px*0.7);
}
.fs65{
    font-size: calc(65px*0.7);
}
.font-bold{
    font-weight: bold;
}
.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
}
.kosugi-maru{
    font-family: "Kosugi Maru", sans-serif;
}
.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
}

.hamburger{
    width:50px;
    height:45px;
    position: fixed;
    right: 0.5%;
    top: 1vh;
    z-index: 10;
    border-radius: 20%;

    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
}
.hamburger_bar{
    display: block;
    width: 60%;
    height: 4px;
    position: absolute;
    left: 20%;
    background: #333;
    transition: 0.5s;
}
.hamburger_bar.scroll{
    background: #333;
}
.hamburger_bar:nth-child(1){
    top: 20%;
}
.hamburger_bar:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
.hamburger_bar:nth-child(3){
    top:80%;
    transform: translateY(-100%);
}
.hamburger.active{
    background: transparent;
}
.hamburger.active :nth-child(1){
    top:40%;
    transform: rotate(45deg);
}
.hamburger.active :nth-child(2){
    top:50%;
    transform: translateY(-50%);
    opacity: 0;
}
.hamburger.active :nth-child(3){
    top: 40%;
    transform: translateY(-100%);
    transform: rotate(-45deg);
}

.ham-menu-list{
    display: none;
}
.ham-menu-list.active{
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-right: 5%;
    right: 0px;
    height: 100%;
}
.ham-menu-container{
    position: relative;
    top:6%;
}
.ham-nav-list{
    padding-left: 20px;
}
.ham-menu-item{
    list-style:none;
    margin-bottom: 5px;
}