@import url('https://fonts.googleapis.com/css2?family=Murecho&text=0123456789');


html{
    min-width: 30%;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(342deg, rgba(131,58,180,1) 0%, rgba(29,127,253,1) 65%, rgba(69,223,252,1) 100%);
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(0.9,0.9,0.9,0.1);
    color: white;
    margin: 0 auto;
    width: 100%;
}
.ouj-logo{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}
.fes-title{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 1.1;
    font-size: 55px;
    margin:0;
    max-width: 100%;
}
.fes-title span:first-child{
    position: relative;
    right: 9%;
    font-size: 40px;
}
.fes-title span:last-child{
    position: relative;
    left: 8%;
    font-size: 60px;
}
.schedule{
    margin: 40px 0 0 0;
    width: 100%;
}
.schedule-content{
    position: relative;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}
.schedule-content p{
    margin: 0;
}
.schedule-title{
    position: absolute;
    top: -30px;
    left: calc(100%/4);;
}
.schedule-content span{
    display: inline-block;
}
.schedule svg{
    margin: 0 auto;
    transform: scaleY(-1);
    position: relative;
}
.year{
}
.timer{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 60px 0 60px 0;
    transform: skewY(-3deg);
    background-color: #222;
}
.timer-content p:first-child{
    position: absolute;
    top: 10px;
    left: calc(100%/4);
    margin-bottom: 20px;
    transform: skewY(3deg);
}
.timer p{
    justify-content: center;
    text-align: center;
}
.timer span{
    margin: 0 5px;
    display: inline-block;
}

.cd-text{
    font-family: "Dosis", sans-serif;
}
.fes-info{
    display: flex;
    flex-direction: column;
    margin: 60px 0 30px 0;
    
}
.headline{
    max-width: 55%;
    margin: 0;
    position: relative;
    left: calc(100%/4.05);
    border: 2px solid;
    border-color: transparent transparent #fff transparent;
}
.news-content{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 4%;
    max-width: 100%;
    margin: 0 30%;
}
.news-content .post-date{
    color: white;
    position: relative;
    left: calc(100%/20*-1);
    max-width: 50%;
}
.news-content span{
    position: relative;
    text-align: center;
    margin: 0;
}
.news-content p:not(.post-date){
    position: relative;
    margin: 0;
    left: calc(100%/5);
}
.news-content :last-child{
    margin-bottom: 0;
}
.border span{
    position: relative;
    text-align: center;
    border-bottom: 3px solid yellow;
}

.contact{
    width: 100%;
    padding: 30px 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
}
.contact-headline{
    max-width: 55%;
    top:-20px;
    position: relative;;
    left: calc(100%/4.05);
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-block{
    display: flex;
    flex-direction: column;
    border: solid yellow;
    border-width: 0 0 0 2px;
    padding: 10px 20px 10px 5px;
    margin: 0 2%;
}
.contact-block span{
    display: inline-block; 
}



.fs20{
    font-size: 20px;
}
.fs25{
    font-size: 25px;
}
.fs30{
    font-size: 30px;
}
.fs40{
    font-size: 40px;
}
.fs55{
    font-size: 55px;
}
.fs65{
    font-size: 65px;
}
.font-bold{
    font-weight: bold;
}
.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
}
.kosugi-maru{
    font-family: "Kosugi Maru", sans-serif;
}
.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
}
.murecho{
    font-family: "Murecho", sans-serif;
}


  


.hamburger{
    width:50px;
    height:45px;
    position: fixed;
    right: 0.5%;
    top: 1vh;
    z-index: 10;
    border-radius: 20%;

    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
}
.hamburger_bar{
    display: block;
    width: 60%;
    height: 4px;
    position: absolute;
    left: 20%;
    background: #333;
    transition: 0.5s;
}
.hamburger_bar.scroll{
    background: #333;
}
.hamburger_bar:nth-child(1){
    top: 20%;
}
.hamburger_bar:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
.hamburger_bar:nth-child(3){
    top:80%;
    transform: translateY(-100%);
}
.hamburger.active{
    background: transparent;
}
.hamburger.active :nth-child(1){
    top:40%;
    transform: rotate(45deg);
}
.hamburger.active :nth-child(2){
    top:50%;
    transform: translateY(-50%);
    opacity: 0;
}
.hamburger.active :nth-child(3){
    top: 40%;
    transform: translateY(-100%);
    transform: rotate(-45deg);
}



.ham-menu-list{
    display: none;
    transition: 0.5s;
}
.ham-menu-list.active{
    z-index: 2;
    background-color: rgba(220, 220, 220, 0.7);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-right: 5%;
    right: 0px;
    height: 100%;
    box-shadow: inset 1px 0px 2px #383838;
}
.ham-menu-container{
    position: relative;
    top:6%;
}
.ham-nav-list{
}
.ham-menu-item{
    list-style:none;
    color: #333;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 20px;
}
.ham-menu-item:hover{
    z-index: 3;
    transition: 0.25s;
    background-color: rgba(206, 206, 206, 0.75);
}